body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light grey background */
    color: #333; /* Dark grey text */
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background-color: white; /* Light grey header */
    color: white;
    padding: 20px 0;
    text-align: center; /* Center-aligns the content inside the header */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header nav {
    margin-top: 10px;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centers the navbar items */
    gap: 20px; /* Space between navbar items */
}

.navbar li {
    display: inline;
}

.navbar li a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px;
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.cta-button:hover {
    background-color: lightblue;
}

.hero-section {
    height: 75vh; /* Full viewport height */
    display: flex;
    align-items: center; /* Vertically centers the content */
    justify-content: center; /* Horizontally centers the content */
    background: #f8f9fa; /* Optional: Background color */
    padding: 0; /* Remove any extra padding */
}

.hero-section h2 {
    font-size: 2.5em;
}

.hero-section p {
    font-size: 1.2em;
    margin: 20px 0;
}

section {
    padding: 10px 0;
    background-color: white;
}

section h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.services-grid {
    display: flex;
    gap: 20px;
}

.service-item {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9; /* Light grey background for service items */
    border-radius: 5px;
}

footer {
    background-color: #1e3a5f; /* Dark blue footer */
    color: white;
    text-align: center;
    padding: 10px 0;
}

#Logo {
    justify-content: center;
}

.text-justify {
    text-align: justify;
}